.inline {
    display: inline;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.section-header {
    margin-bottom: 10px;
}

.dropdownMenu {
    max-height: 150px;
    overflow: auto;
}

.fixed-close {
    position: absolute;
    right: 15px;
}

.ml15 {
    margin-left: 15px;
}